In [1]:
#SQLITE3

#for each database, we need different libraries
import sqlite3

In [2]:
con = sqlite3.connect('classDatabase.db') #connector string, providing a file name that doesnt exist yet

In [6]:
con.execute(""" 
    create table books(
            book_id int unique primary key not null,
            tittle text,
            author text,
            pages int,
            rating float
    )
""") 
# a function where we can provida a SQL as a str
#primary key makes faster to query our data

In [16]:
con.execute(""" 
    insert into books (book_id, tittle, author, pages, rating) values (3, "Bloody Meridian", "Cormac McCarthy", 200, 9.5)
""")

In [19]:
cur = con.execute("""
    select * from books
""")

In [20]:
for row in cur:
    print(row)

(1, 'Bloody Meridian', 'Cormac McCarthy', 200, 9.5)
(2, 'Bloody Meridian', 'Cormac McCarthy', 200, 9.5)
(3, 'Bloody Meridian', 'Cormac McCarthy', 200, 9.5)